.card {
  aspect-ratio: 510 / 708;
  border-radius: 56px;
  background: #f3b617;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  transition: box-shadow 200ms linear;
  text-decoration: none;
  color: black;
  cursor: default;
  scale: 0.8;
  transition: all 200ms linear;

  img {
    aspect-ratio: 1 / 1;
    width: 50%;
    margin-top: 10%;
  }

  p {
    width: 85%;
    text-align: center;
  }

  &.active {
    cursor: pointer;
    scale: 1;

    &:hover {
      scale: 1.1;
      box-shadow: 4px 8px 8px 0px rgba(224, 150, 29, 0.8);
    }
  }

  &.hidden {
    display: none;
  }
}
