.card {
  transform: translate3d(0, 0, 0);
  flex: 0 0 20vw;
  min-width: 0;
  margin-left: 3rem;
  aspect-ratio: 510 / 708;
  border-radius: 56px;
  background: #f3b617;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  text-decoration: none;
  color: black;
  cursor: pointer;
  transition: all 200ms linear;
  max-height: 430px;

  &:hover {
    box-shadow: 4px 8px 8px 0px rgba(224, 150, 29, 0.8);
  }

  img {
    aspect-ratio: 1 / 1;
    width: 50%;
    margin-top: 10%;
  }

  p {
    width: 85%;
    text-align: center;
  }
}
