.container {
  width: 100vw;
  height: 100lvh;
  position: relative;
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  padding-top: calc(50px + 80px + 30px);

  .videoContent {
    grid-column-start: 7;
    grid-column-end: 13;
    position: relative;
    height: fit-content;

    .video {
      aspect-ratio: 1038 / 585;
      height: auto;
      width: 100%;
      border-radius: 20px;
      border: none;
      margin-bottom: 20px;
    }

    .tagline {
      color: #e0961d;
      font-family: "Montserrat", sans-serif;
      font-size: 35px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
    }
  }

  .caption {
    grid-column-start: 2;
    grid-column-end: 6;
  }
}
